.navbar-nav > li{
    padding-left: 45px;
    padding-right: 45px;
  }
  /* .navbar{
    position: fixed;
    overflow: hidden;
    width: 100%;
  } */
  .image{
    width: 100%;
    height: 100%;
    margin-top: 2%;
  }
  .our-range-new .title-component {
    position: relative;
    z-index: 1;
}
.our-range-new .title-component .header.black h2 {
    font-family: "Lato Regular",sans-serif;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #171717;
    padding: 0;
    margin: 20px 0 0;
}
.our-range-new .title-component .header.black h3 {
    font-family: "Lato Regular",sans-serif;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #171717;
    padding: 0;
    margin: 20px 0 0;
}
.font{
    
    text-align: center;
    font-family: "Lato Regular",sans-serif;
}
.box{
    content: " ";
    border-top: solid 5px #1f3f6e;
    display: block;
    width: 45px;
  
    margin: 80px auto 30px;
}
.footer{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #111;
        height: auto;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 40px;

}

#box{
    content: " ";
    border-top: solid 5px #ff0000;
    display: block;
    width: 45px;
    margin: 75px auto 7px;
}